* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #FFB347, #FF8000, #FF3300);
    background-size: 400% 400%;
    animation: gradientBg 4s ease infinite;
}

@keyframes gradientBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.auth-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.auth-pic {
    width: 100%;
    max-width: 180px;
    height: auto;
}



.auth-form form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 1rem 1.1rem 0.5rem 1.1rem; 
    border: 1px solid #000; 
    border-radius: 12px; 
    box-shadow: 2px 2px 0px #292929;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    background: #fff;
    transition: 0.2s ease;
}
.form-group label {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-60%);
    font-size: 1rem;
    color: #333;
    pointer-events: none;
    transition: 0.2s ease all;
}

.form-group input:focus {
    border: 1px solid #FF8000;
    box-shadow: 0px 0px 0px #000;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0.2rem;
  left: 1rem;
  font-size: 0.85rem;
  color: #FF8000;
  background: #fff;
  padding: 0 0.25rem;
}

.fill-btn {
    background: linear-gradient(135deg, #FF8000, #CC5500);
    color: #FFFFFF;
    padding: 0.6rem 2rem;
    border-radius: 15px;
    font-size: 1.2rem;
    width: 100%;
}

.fill-btn:hover {
    background: linear-gradient(135deg, #e67000, #b34400);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.outline-btn {
    display: block;
    background-color: transparent;
    color: #FF8000;
    padding: 0.6rem 2rem;
    border: 2px solid #FF8000;
    border-radius: 15px;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
}

.outline-btn:hover {
    background: linear-gradient(135deg, #FF8000, #CC5500);
    color: #FFFFFF;
    border: 2px solid #FF8000;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 100%;
}